.get__started {
  display: flex;
  justify-content: center;
  box-shadow: 2rem;
}

.main__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
}

.main__container__section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  box-shadow: 0 0 4px lightgray;
  border-radius: 7px;
  padding: 50px;
}

.get__started button {
  background-color: rgb(235, 22, 206);
  color: white;
  padding: 1.5em 1em;
  border-radius: 50px;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}