$pale-cyan: hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);
$pink: hsl(322, 100%, 66%);
$headings-font:"Poppins", sans-serif;
$body-font:"Open Sans", sans-serif;
